.accordion {
  display: grid;
  gap: rem(12);

  &__item {
    box-shadow: 0px 0px 15px 0px #00719b12;
    border-radius: rem(22);

    &-wrap {
      display: grid;
      grid-template-rows: max-content 0fr;
      padding: rem(15) rem(10);
      background-color: #fff;
      transition: grid-template-rows var(--bs-transition);

      @media (min-width: 768px) {
        padding: rem(25) rem(30);
      }

      &.open {
        grid-template-rows: max-content 1fr;

        .accordion__header {
          svg {
            transform: rotate(0deg);
          }
        }
      }
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    text-wrap: balance;
    text-align: left;
    gap: rem(12);
    background-color: transparent;
    font-size: rem(16);
    color: var(--text-title);
    transition: color var(--bs-transition);

    @media (min-width: 768px) {
      font-size: rem(20);
    }

    @include interactive {
      color: var(--primary-300);
    }

    @include any-hover {
      color: var(--primary-400);
    }

    svg {
      width: 24px;
      height: 24px;
      transform: rotate(180deg);
      transition: inherit;
    }

    i {
      position: relative;
      display: block;
      width: rem(30);
      height: rem(30);
      flex: 0 0 auto;
      box-shadow: 0px 0px 4px 0px #00719b26;

      background-color: var(--bg);
      border-radius: 50%;
      pointer-events: none;

      @media (min-width: 768px) {
        width: rem(48);
        height: rem(48);
      }

      @media (min-width: 1200px) {
        width: rem(56);
        height: rem(56);
      }

      @include pseudo-cell(before) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: rem(2);
        width: rem(12.2);
        background-color: var(--text-title);
        transition: transform var(--bs-transition);

        @media (min-width: 768px) {
          height: rem(2.6);
          width: rem(16.3);
        }

        @media (min-width: 1200px) {
          height: rem(3);
          width: rem(19);
        }
      }

      @include pseudo-cell(after) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: rem(2);
        height: rem(12.2);
        background-color: var(--text-title);
        transition: transform var(--bs-transition);

        .open & {
          transform: translate(-50%, -50%) rotate(-90deg);
        }

        @media (min-width: 768px) {
          width: rem(2.6);
          height: rem(16.3);
        }

        @media (min-width: 1200px) {
          width: rem(3);
          height: rem(19);
        }
      }
    }
  }

  &__content {
    display: grid;
    align-content: flex-start;
    gap: rem(10);
    overflow: hidden;
    font-size: rem(14);
    font-family: var(--font-second);
    width: 100%;
    color: var(--text-light);

    @media (min-width: 576px) {
      width: calc(100% - rem(48));
    }

    @media (min-width: 768px) {
      font-size: rem(17);
      gap: rem(16);
      width: calc(100% - rem(60));
    }

    @media (min-width: 1200px) {
      width: calc(100% - rem(68));
    }

    &-wrap {
      margin-top: rem(15);
      padding-top: rem(15);
      border-top: 1px solid rgba(98, 80, 15, 0.3);

      @media (min-width: 768px) {
        margin-top: rem(25);
        padding-top: rem(25);
      }
    }
  }
}
