.burger {
  .burger-open & {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }

  &__wrap {
    max-width: rem(1610);
    padding: rem(20) var(--bs-mainOffset) rem(30);
    transform: translateX(-100%);
    border-radius: 0 0 rem(40) 0;
    backdrop-filter: blur(16px);
    background-color: rgba(255, 248, 240, 0.95);
    opacity: 0;

    .burger-open & {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap-reverse;
    gap: rem(12) rem(20);
  }

  &__title {
    text-align: left;
    max-width: max(rem(380), calc(100% - rem(80)));
    margin-left: 0;
  }

  &__close {
    margin-left: auto;
  }

  &__body {
    display: grid;
    gap: rem(32);
    margin-top: rem(24);

    @media (min-width: 768px) {
      grid-template-columns: 1fr 2.3fr;
      gap: rem(40);
      margin-top: rem(40);
    }

    .nav {
      padding-bottom: rem(24);
      margin-bottom: auto;

      @media (min-width: 768px) {
        padding-bottom: rem(34);
      }
    }
  }

  &__body-title {
    font-size: rem(20);
    line-height: 1;
    text-transform: uppercase;
    color: rgba(93, 89, 85, 0.35);
    padding-bottom: rem(18);
    margin-bottom: rem(18);
    border-bottom: 1px solid rgba(93, 89, 85, 0.15);

    @media (min-width: 1680px) {
      font-size: rem(24);
    }
  }

  &__left-column {
    display: flex;
    flex-direction: column;

    .for-desktop {
      @media (max-width: 767.98px) {
        display: none;
      }
    }
  }

  &__kruglov {
    font-size: rem(15);
    color: rgba(93, 89, 85, 0.35);
    min-height: rem(20);

    &-link {
      text-transform: none;
      font-weight: 400;
    }
  }

  &__btns {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: rem(20) rem(32);
    min-height: rem(20);

    &-wrap {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap-reverse;
      gap: rem(20);
    }

    &-prev {
      display: flex;
      align-items: center;
      font-size: rem(14);
      gap: rem(8);
      text-transform: uppercase;
      background-color: transparent;
      transition: color var(--bs-transition);

      @include interactive {
        color: var(--primary-400);
      }

      @include any-hover {
        color: var(--primary-500);
      }

      svg {
        opacity: 0.3;
      }
    }

    &-services {
      color: var(--primary-400);
      font-size: rem(16);

      @include interactive {
        color: var(--primary-500);
      }

      @include any-hover {
        color: var(--primary-600);
      }
    }
  }

  &__btn {
    margin-top: rem(24);
  }

  .line {
    width: 100%;
  }
}

.column-right {
  display: flex;
  flex-direction: column;

  &__wrap {
    display: grid;
    gap: rem(20);
    margin-bottom: auto;

    @media (min-width: 1200px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .line {
    &:not(:first-of-type) {
      background-color: transparent;
    }
  }
}
