.two-buttons2 {
  position: relative;
  z-index: 2;
  display: grid;
  align-items: flex-end;
  gap: rem(20);
  margin-top: rem(24);

  @media (min-width: 1200px) {
    grid-template-columns: repeat(2, rem(380));
    margin-top: rem(42);
    justify-content: center;
  }

  .what-a-helmet-can-do & {
    @include pseudo-cell(before) {
      display: none;
      left: 50%;
      bottom: calc(100% + rem(8));
      width: 2px;
      height: rem(42);
      background-image: url('../../images/what-a-helmet-can-do/line2.svg');
      background-repeat: no-repeat repeat;
      background-position: center center;
      background-size: contain;
      pointer-events: none;

      @media (min-width: 1200px) {
        display: block;
      }
    }
  }

  &__wrap {
    display: grid;
    align-items: center;
    gap: rem(20);

    @media (min-width: 576px) and (max-width: 1199.98px) {
      grid-template-columns: minmax(rem(165), 1fr) repeat(2, 1fr);
      border: 2px solid var(--primary-500);
      border-radius: 100vmax;
      background: var(--surface-white);
      box-shadow: 0 3px 4px 0 rgba(31, 33, 29, 0.11);
      padding: rem(10) rem(30);
    }
  }

  &__text {
    text-wrap: balance;
    text-align: center;
    font-family: var(--font-second);
    font-size: rem(12);
    line-height: 100%;
    color: var(--text-dark);

    @media (min-width: 1200px) {
      font-size: rem(15);
    }
  }

  &__phone {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(8);
    white-space: nowrap;
    margin: 0 auto;
    width: 100%;
    font-weight: 500;
    font-size: rem(20);
    letter-spacing: 0.01em;
    color: var(--text-dark);
    transition: color var(--bs-transition);

    @media (max-width: 575.98px) {
      width: 100%;
      justify-content: center;
      padding: rem(10) rem(20);
      border: 2px solid var(--primary-500);
      border-radius: 100vmax;
      background: var(--surface-white);
      box-shadow: 0 3px 4px 0 rgba(31, 33, 29, 0.11);
    }

    @media (min-width: 768px) {
      font-size: rem(23);
    }

    @media (min-width: 1200px) {
      border: 2px solid var(--primary-500);
      border-radius: 100vmax;
      background: var(--surface-white);
      box-shadow: 0 3px 4px 0 rgba(31, 33, 29, 0.11);
      padding: rem(10) rem(30);
    }

    @include interactive {
      color: var(--primary-300);
    }

    @include any-hover {
      color: var(--primary-400);
    }

    @include pseudo-cell(before, initial) {
      width: rem(16);
      height: rem(16);
      flex: 0 0 auto;
      background-color: currentColor;
      mask-image: url('../../images/svg/phone.svg');
      mask-size: 100% 100%;
      mask-repeat: no-repeat;
      mask-position: center center;
    }
  }

  .button-arrow {
    font-size: rem(16);
  }
}
