<div class="menus burger" data-close-burger>
  <div class="menus__backdrop burger__backdrop" data-close-burger></div>
  <div class="menus__wrap burger__wrap">
    <div class="menus__header burger__header">
      <h2 class="title burger__title">
        БЕЗПЕКА ТА ЗДОРОВ’Я дитини — <span
          class="title__color">наш
          пріоритет</span>
      </h2>
      @@include('../ui/button-close.html', { "dataType": "data-close-burger",
      "class": "button-close burger__close" })
    </div>
    <div class="menus__body burger__body">
      <div class="burger__left-column column-left">
        <h3 class="burger__body-title">Компанія</h3>

        @@include('./nav.html')

        @@include('./socials.html', {
        "class": "header__socials",
        "fb": true,
        "inst": true,
        "youtube": true,
        "tg": true,
        })

        <button
          class="button button-orange button-arrow button-56 burger__btn">Записатися
          на прийом</button>

        <div class="line for-desktop"></div>
        <div data-da=".burger__btns, 767.98, last" class="burger__kruglov">
          <span>Дизайн та розробка:</span>
          <a
            href="https://www.instagram.com/boris__kruglov/"
            target="_blank"
            rel="noreferrer noopener"
            class="button-line burger__kruglov-link">
            Борис Круглов
          </a>
        </div>
      </div>

      <div class="burger__right-column column-right">
        <h3 class="burger__body-title">Послуги</h3>

        <div class="column-right__wrap">
          @@include('./service-card.html', {
          "img": "service-card1.svg",
          "title": "Лiкування деформацiї голови",
          "text":
          "Лікування деформації голови включає використання ортопедичних шоломів, що коригують форму голови дитини",
          "link": "дізнатися бiльшE",
          })
          @@include('./service-card.html', {
          "img": "service-card2.svg",
          "title": "Ортозування дiтей",
          "text":
          "Процес використання ортезів або спеціальних пристосувань для підтримки або виправлення функціональних або структурних вад у дітей",
          "link": "дізнатися бiльшE",
          })
          @@include('./service-card.html', {
          "img": "service-card3.svg",
          "title": "Консультації дитячого лiкаря ортопеда",
          "text":
          "Можливість отримати професійні поради від спеціаліста щодо здоров'я та розвитку вашої дитини",
          "link": "дізнатися бiльшE",
          })
          @@include('./service-card.html', {
          "img": "service-card4.svg",
          "title": "реабiлiтацiя, Фізіотерапія та Масаж",
          "text":
          "Eфективні методи відновлення рухливості та поліпшення м'язового тонусу у дітей, сприяють загальному здоров'ю та розвитку",
          "link": "дізнатися бiльшE",
          })
        </div>

        <div class="line"></div>
        <div class="burger__btns">
          <div class="burger__btns-wrap">
            <button
              class="burger__btns-prev" data-close-burger>
              <svg width="37" height="9">
                <use href="./images/sprite.svg#arrow-prev" />
              </svg>
              Повернутися назад
            </button>

            <a href="#"
              class="button-line burger__btns-services">
              Усi послуги
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
