<div class="menus burger" data-close-burger data-lp>
    <div class="menus__backdrop burger__backdrop" data-close-burger></div>
    <div class="menus__wrap burger__wrap">
        <div class="menus__header burger__header">
            @@include('../ui/button-close.html', {
            "dataType": "data-close-burger",
            "class": "btn-close"
            })
        </div>
        <div class="menus__body burger__body">
            <div class="burger__kruglov">
                <span>Розробка сайту:</span>
                <a
                    href="https://www.instagram.com/boris__kruglov/"
                    target="_blank"
                    rel="noreferrer noopener"
                    class="burger__kruglov-link">
                    kruglov-design
                </a>
            </div>
        </div>
    </div>
</div>