<ul class="header-socials">
  <li class="header-socials__item">
    <a href="#" class="header-socials__link" aria-label="fb">
      <svg width="11" height="24">
        <use href="./images/sprite.svg#light-fb" />
      </svg>
    </a>
  </li>
  <li class="header-socials__item">
    <a href="#" class="header-socials__link" aria-label="inst">
      <svg width="21" height="20">
        <use href="./images/sprite.svg#light-inst" />
      </svg>
    </a>
  </li>
  <li class="header-socials__item">
    <a href="#" class="header-socials__link" aria-label="youtube">
      <svg width="21" height="16">
        <use href="./images/sprite.svg#light-youtube" />
      </svg>
    </a>
  </li>
  <li class="header-socials__item">
    <a href="#" class="header-socials__link" aria-label="tg">
      <svg width="21" height="16">
        <use href="./images/sprite.svg#light-tg" />
      </svg>
    </a>
  </li>
</ul>
