<nav class="nav">
  <ul class="nav__list">
    <li class="nav__item">
      <a href="#" class="nav__link">Про компанію</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">Лiкарi</a>
    </li>
    <li class="nav__item">
      <a href="/licenses.html" class="nav__link">Ліцензії</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">Спiвпраця</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">Дослiдження</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">Цiни</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">Відгуки</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">Послуги</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">Про шолом</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">Ортези Piro</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">Результати лiкування</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">Фото проблем голови</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">Новини</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">Контакти</a>
    </li>
  </ul>
</nav>
