<div class="card-border review-card">
    <div class="card-border__wrap review-card__wrap">
        <div class="review-card__image">
            <img src="../../images/review-card.jpg" width="100" height="100" alt
                class="review-card__img">
        </div>

        <div class="review-card__desc">
            <div class="review-card__rating rating">
                <svg class="rating__svg rating__svg-active" width="24"
                    height="24">
                    <use href="./images/sprite.svg#star" />
                </svg>
                <svg class="rating__svg rating__svg-active" width="24"
                    height="24">
                    <use href="./images/sprite.svg#star" />
                </svg>
                <svg class="rating__svg rating__svg-active" width="24"
                    height="24">
                    <use href="./images/sprite.svg#star" />
                </svg>
                <svg class="rating__svg rating__svg-active" width="24"
                    height="24">
                    <use href="./images/sprite.svg#star" />
                </svg>
                <svg class="rating__svg rating__svg" width="24"
                    height="24">
                    <use href="./images/sprite.svg#star" />
                </svg>
            </div>
            <h3 class="review-card__desc-name">Олена та Максим</h3>
            <p class="review-card__desc-old">Вік дитини 8 місяців</p>
        </div>

        <div class="review-card__review">
            <div class="review-card__review-title">Відгук
                <time datetime="23.04.2024">23.04.2024</time>
            </div>

            <div class="review-card__review-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa
                laudantium facilis placeat maxime sint. At cumque veniam ea
                molestias exercitationem asperiores sequi eos officia? Quasi
                illo eveniet harum iusto quam nihil assumenda, nemo beatae a
                repudiandae temporibus eligendi tempora quae illum soluta vero
                odio aspernatur vitae consequuntur et odit! Fuga quos laudantium
                possimus saepe labore. Placeat animi sapiente, dolorem
                praesentium nisi excepturi iure vero dignissimos exercitationem
                est dicta magnam ex esse, similique alias. Nulla quia aut saepe
                fugiat quo, excepturi voluptas quisquam amet asperiores quod
                facilis sunt aspernatur totam maiores vel velit dolorum nostrum
                qui eaque nam! Commodi recusandae quos pariatur expedita culpa
                minima officia odit mollitia in, modi quasi rem eos animi
                tempora beatae quam veniam molestias impedit optio ad numquam.
                Magni, quae earum! Aperiam quas fugit minima harum explicabo
                similique deserunt eligendi impedit repellat nihil earum
                repellendus, qui, cum facilis nisi! Perspiciatis minima expedita
                quam cum, ratione blanditiis est vero! Ea vitae eius dicta
                omnis! Dolor porro quas qui ipsa ipsam in laborum accusamus
                reiciendis quasi voluptatem autem, tenetur vitae asperiores esse
                deleniti ullam officia fugiat distinctio? Natus alias voluptas
                iusto aliquam veritatis qui harum totam, atque, molestiae
                dignissimos, quos earum necessitatibus aperiam nisi modi
                commodi? Aspernatur omnis neque velit repudiandae quo dolor? In
                at est voluptate harum tempore, quasi cumque, consectetur,
                eligendi culpa ab laudantium nulla provident cum. Corporis
                expedita soluta, debitis consectetur iste unde doloremque vitae
                sit in quo reprehenderit. Porro totam, nihil optio voluptate
                tempore nobis error! Doloremque natus quo odit fugit! Aliquid,
                nemo tempora? Ipsum officia eos, atque ullam natus velit? Alias
                fugit quam quas. Sequi, sit adipisci ipsa dolor harum minima
                eveniet hic nesciunt magnam dolorum dignissimos incidunt,
                aperiam deserunt rem ea corporis similique ut veniam
                exercitationem, laboriosam quasi inventore esse. Sed odio magni
                nisi iste repellat quo nemo fuga ab vero? Quaerat!
            </div>
        </div>
    </div>
</div>