<div class="menus search" data-close-search>
  <div class="menus__backdrop search__backdrop" data-close-search></div>
  <div class="menus__wrap search__wrap">
    <div class="menus__body search__body">
      <form id="search__form" class="search__form" autocomplete="off">
        <fieldset class="border-bg">
          <input
            id="search-input"
            class="border-bg__input search__input"
            type="text"
            name="search"
            placeholder="Що ви шукаєте?"
          />
          <label
            for="search-input"
            class="border-bg__label search__label"
          ></label>
          <button class="search__submit" type="submit">
            <svg width="24" height="24">
              <use href="./images/sprite.svg#search" />
            </svg>
          </button>
        </fieldset>

        <button class="search__clean search__clean_hidden" type="button">
          <svg width="28" height="28">
            <use href="./images/sprite.svg#close" />
          </svg>
        </button>
      </form>
      @@include('../ui/button-close.html', { "dataType": "data-close-search",
      "class": "button-close" })
    </div>
  </div>
</div>
