<div class="service-card2">
    <div class="service-card2__wrap">
        <div class="service-card2__image">
            <svg width="64" height="64">
                <use href="../../images/sprite.svg#@@img" />
            </svg>
        </div>

        <h3 class="service-card2__title">@@title</h3>
        <div class="service-card2__text">
            <p>@@text</p>
        </div>

        <a href="#"
            class="button-line button-line__with-svg service-card2__link">
            <span>@@link</span>
        </a>
    </div>
</div>