<div class="socials-accordion @@class">
  @@if(fb){
  <div class="socials-accordion__item">
    <a href="#" class="socials-accordion__link" aria-label="fb">
      <svg width="11" height="24">
        <use href="./images/sprite.svg#light-fb" />
      </svg>
    </a>

    <button class="socials-accordion__btn" aria-label="open accordion"></button>
  </div>

  }
  <div class="socials-accordion__wrap">
    @@if(inst){
    <div class="socials-accordion__item">
      <a href="#" class="socials-accordion__link" aria-label="inst">
        <svg width="21" height="20">
          <use href="./images/sprite.svg#light-inst" />
        </svg>
      </a>
    </div>
    }
    @@if(youtube) {
    <div class="socials-accordion__item">
      <a href="#" class="socials-accordion__link" aria-label="youtube">
        <svg width="21" height="16">
          <use href="./images/sprite.svg#light-youtube" />
        </svg>
      </a>
    </div>
    }
    @@if(tg) {
    <div class="socials-accordion__item">
      <a href="#" class="socials-accordion__link" aria-label="tg">
        <svg width="21" height="16">
          <use href="./images/sprite.svg#light-tg" />
        </svg>
      </a>
    </div>
    }
  </div>
</div>
