<li class="treatment-proceeds-card">
    <div class="card-border treatment-proceeds-card__inner">
        <div class="card-border__wrap treatment-proceeds-card__wrap">
            <div class="treatment-proceeds-card__left">
                <div class="treatment-proceeds-card__img">
                    <img src="../../images/svg/@@img" width="62"
                        height="62" loading="lazy" alt>
                </div>

                <h3 class="treatment-proceeds-card__title">@@title</h3>
            </div>

            <ul class="treatment-proceeds-card__right">
                @@if(card == '1') {
                <li class="treatment-proceeds-card__item">Лікар-ортопед
                    проводить
                    комплексну оцінку стану голови та
                    <strong>визначає ступінь деформації</strong></li>
                <li class="treatment-proceeds-card__item">Використання сучасних
                    технологій для отримання точної 3D-моделі голови, що служить
                    основою
                    для виготовлення індивідуального шолому</li>
                <li class="treatment-proceeds-card__item">Індивідуальне
                    моделювання,
                    враховуючи результати діагностики, створюється індивідуальна
                    <strong>3D-модель шолому</strong></li>
                }

                @@if(card == '2') {
                <li class="treatment-proceeds-card__item">Розробка та
                    <strong>виготовлення шолому</strong> за допомогою передових
                    технологій</li>
                <li class="treatment-proceeds-card__item">Лікар вказує
                    <strong>належний
                        час носіння шолому</strong> в день та встановлює
                    індивідуальні
                    параметри для оптимальної ефективності</li>
                <li class="treatment-proceeds-card__item">Дитина поступово
                    пристосовується до нового елементу та починає
                    <strong>відчувати
                        комфорт</strong> при його носінні</li>
                }

                @@if(card == '3') {
                <li class="treatment-proceeds-card__item">Лікар <strong>веде
                        контроль за
                        процесом</strong> та вносить корективні зміни в режим
                    носіння
                    шолому</li>
                <li class="treatment-proceeds-card__item">Родині
                    <strong>надається
                        підтримка</strong> та інформація для забезпечення
                    ефективності
                    та комфорту лікування</li>
                <li class="treatment-proceeds-card__item">Після
                    <strong>досягнення
                        максимальної корекції</strong> лікар проводить остаточну
                    оцінку
                    та рекомендації для подальшого ведення</li>
                }

                @@if(card == '4') {
                <li class="treatment-proceeds-card__item">Після досягнення
                    поставлених
                    цілей, <strong>лікар призначає завершення</strong> носіння
                    ортопедичного шолому</li>
                <li class="treatment-proceeds-card__item">Цей процес вимагає
                    взаємодії
                    між лікарем, родинами та дитиною для <strong>досягнення
                        оптимальних
                        результаті</strong>в у корекції деформації голови</li>
                <li class="treatment-proceeds-card__item">По завершенні
                    лікування
                    ортопедичним шоломом проводиться <strong>остаточна оцінка
                        результатів</strong> та консультація з лікарем</li>
                }
            </ul>
        </div>
    </div>
</li>