.more-helmet-technology {
  display: grid;
  gap: rem(20);

  @media (min-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: rem(30);
    padding: rem(24) rem(20);
    border-radius: rem(30);
    backdrop-filter: blur(12px);
    box-shadow: 0 0 14px 0 rgba(180, 174, 167, 0.19);
    background: rgba(255, 255, 255, 0.95);

    @media (min-width: 1200px) {
      padding: rem(32) rem(24);
    }

    @media (min-width: 1440px) {
      padding: rem(40) rem(32);
    }

    @media (min-width: 1680px) {
      padding: rem(46) rem(40);
    }

    &-title {
      font-family: var(--font-second);
      font-size: rem(12);
      line-height: 108%;
      letter-spacing: 0.01em;
      text-transform: uppercase;

      @media (min-width: 1680px) {
        font-size: rem(16);
      }
    }
  }

  &__inner {
    display: grid;
    gap: rem(20);
  }

  &__border {
    box-shadow: none;

    &-wrap {
      padding: rem(20);
      background-color: #ffffff;
      font-size: rem(16);
      line-height: 120%;
      text-transform: uppercase;
      color: var(--text-dark);

      @media (min-width: 1200px) {
        font-size: rem(19);
        padding: rem(20) rem(30);
      }

      @media (min-width: 1680px) {
        font-size: rem(24);
      }
    }
  }

  &__grid {
    display: grid;
    gap: rem(20);

    @media (min-width: 1440px) {
      grid-template-columns: min(rem(240), 100%) 1fr;
      grid-template-rows: auto auto;
    }

    &-img1 {
      display: block;
      object-fit: cover;
      object-position: center center;
      aspect-ratio: 1/1;
      border-radius: rem(25);
      box-shadow: 0 0 14px 0 rgba(180, 174, 167, 0.19);
      margin: 0 auto;

      @media (min-width: 1440px) {
        grid-row: 1/-1;
      }
    }

    &-img2 {
      display: block;
      width: 100%;
      height: rem(120);
      object-fit: cover;
      object-position: center center;
      border-radius: rem(20);
      box-shadow: 0 0 14px 0 rgba(180, 174, 167, 0.19);
      order: 2;

      @media (min-width: 1440px) {
        order: initial;
      }
    }

    &-text {
      font-family: var(--font-second);
      text-align: justify;

      @media (min-width: 1440px) {
        grid-column: 2 / -1;
      }

      &-color {
        color: var(--primary-500);
      }

      &-strong {
        font-weight: 900;
      }
    }
  }

  &__right {
    position: relative;
    box-shadow: 0 0 11px 0 rgba(180, 174, 167, 0.19);
    border-radius: rem(23);
    overflow: hidden;
    padding: rem(40);
    background-color: currentColor;

    @include pseudo-cell(before) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: rem(58);
      height: rem(58);
      background-image: url('../../images/svg/play.svg');
      background-position: center center;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      pointer-events: none;

      @media (min-width: 1680px) {
        width: rem(78);
        height: rem(78);
      }
    }
  }
}
