.treatment-proceeds {
  &__header {
    display: grid;
    gap: rem(20);

    @media (min-width: 768px) {
      grid-template-columns: max-content 1fr;
    }
  }

  &__section {
    max-width: rem(140);
  }

  &__title {
    max-width: ewm(1520);
  }

  &__list {
    counter-reset: list-treatment;
    display: grid;
    gap: rem(20);

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.treatment-proceeds-card {
  counter-increment: list-treatment;

  &__inner {
    height: 100%;
  }

  &__wrap {
    position: relative;
    display: grid;
    align-content: flex-start;
    padding: rem(16) rem(20);
    background-color: #ffffff;

    @media (min-width: 1200px) {
      padding: rem(16) rem(32);
    }
  }

  &__left {
    display: flex;
    align-items: center;
    gap: rem(12) rem(16);
    padding-bottom: rem(16);
    margin-bottom: rem(16);
    border-bottom: 1px solid rgba(234, 133, 41, 0.25);

    @media (max-width: 424.98px) {
      position: relative;
    }

    @include pseudo-cell(after, initial) {
      content: counter(list-treatment, decimal-leading-zero);
      font-size: rem(12);
      text-align: center;
      color: var(--primary-500);

      align-self: flex-start;
      margin-top: rem(8);
      margin-left: auto;
    }

    @media (max-width: 424.98px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__right {
    display: grid;
    gap: rem(24);
    font-family: var(--font-second);
    color: var(--text-light);
    padding-left: 24px;

    strong,
    b {
      font-weight: 900;
    }
  }

  &__item {
    position: relative;
    list-style: disc;

    &::marker {
      font-size: rem(23);
      line-height: 1;
      color: var(--primary-500);
    }
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    width: rem(60);
    height: rem(60);
    border-radius: 50%;
    background-color: var(--surface-light);

    @media (min-width: 425px) {
      width: rem(96);
      height: rem(96);
    }

    img {
      width: 52%;
      height: 52%;
    }
  }

  &__title {
    font-size: rem(20);
    text-transform: uppercase;
    color: var(--text-title);

    @media (min-width: 1440px) {
      font-size: rem(24);
    }
  }
}
