.why-us {
  position: relative;
  z-index: 2;

  &__wrap {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 14px 0px #b4aea714;
    padding: rem(20) rem(12);
    border-radius: rem(30);

    @media (min-width: 768px) {
      min-height: rem(500);
      padding: rem(60) rem(30);
    }

    @include pseudo-cell(before) {
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      background-image: linear-gradient(
          0deg,
          rgba(98, 84, 70, 0.4),
          rgba(98, 84, 70, 0.4)
        ),
        linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right center;
    border-radius: inherit;
  }

  &__header {
    display: grid;
    gap: rem(20);

    @media (min-width: 768px) {
      grid-template-columns: max-content 1fr;
    }
  }

  &__section {
    color: #fff;
  }

  &__title {
    color: #fff;
    max-width: rem(1425);

    .title__border {
      border-color: currentColor;
    }
  }

  &__cards {
    display: grid;
    gap: rem(10);
    @include property('margin-top', 100, 16, 1680);

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1440px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__card {
    display: grid;
    align-items: center;
    grid-template-columns: rem(44) 1fr;
    gap: rem(10);

    border-radius: rem(13);
    backdrop-filter: blur(rem(18));

    color: #ffffff;
    padding: rem(16) rem(12);
    font-size: rem(20);
    line-height: 120%;
    background-color: #ffffff;
    border: 1px solid rgba(234, 133, 41, 0.2);

    @media (min-width: 768px) {
      padding: rem(20) rem(24);
      border: 1px solid rgba(255, 255, 255, 0.25);
      background-color: rgba(255, 255, 255, 0.35);
    }

    &-title {
      font-size: rem(16);
      color: var(--text-title);

      @media (min-width: 768px) {
        color: #ffffff;
      }

      @media (min-width: 1680px) {
        font-size: rem(18);
      }
    }

    &-img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center center;
      color: var(--primary-500);

      @media (min-width: 768px) {
        opacity: 0.5;
        color: #ffffff;
      }
    }
  }
}
