.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: rem(8);
  box-shadow: 0 3px 4px 0 rgba(31, 33, 29, 0.11);
  border-radius: 100vmax;
  padding: rem(12) rem(16);
  width: 100%;
  font-size: rem(15);
  font-weight: 500;
  letter-spacing: 0.01em;
  line-height: prc(14.4, 18);
  text-transform: uppercase;
  transition: all var(--bs-transition);

  @media (min-width: 768px) {
    font-size: rem(16);
  }

  @media (min-width: 1440px) {
    font-size: rem(17);
  }

  @media (min-width: 1680px) {
    font-size: rem(18);
  }

  &.button-36 {
    min-height: rem(36);
  }

  &.button-44 {
    min-height: rem(44);
  }

  &.button-56 {
    min-height: rem(56);
  }

  &.button-60 {
    min-height: rem(60);
  }

  &.button-orange {
    color: #fff;
    background-color: var(--primary-500);
    border: 1.5px solid #fff;

    @include interactive {
      background-color: var(--primary-300);
      border-color: var(--primary-300);
    }

    @include any-hover {
      background-color: var(--primary-400);
      border-color: var(--primary-400);
    }
  }

  &.button-light {
    color: var(--primary-400);
    background-color: var(--bg);
    border: 1.5px solid var(--primary-400);

    @include interactive {
      background-color: var(--primary-300);
      color: #fff;
    }

    @include any-hover {
      background-color: var(--primary-500);
      border-color: var(--primary-500);
      color: #fff;
    }
  }

  &.button-white {
    color: var(--primary-500);
    background-color: #fff;
    border: 1.5px solid var(--primary-500);

    @include interactive {
      background-color: var(--primary-300);
      border-color: var(--primary-300);
      color: #fff;
    }

    @include any-hover {
      background-color: var(--primary-400);
      border-color: var(--primary-400);
      color: #fff;
    }
  }

  &.button-arrow {
    line-height: 1;

    @include pseudo-cell(after, initial) {
      flex: 0 0 auto;
      width: rem(11);
      height: rem(13);
      background-color: currentColor;
      mask-image: url('../../images/svg/arrow-up.svg');
      mask-size: contain;
      mask-position: center center;
      mask-repeat: no-repeat;
    }
  }
}

.button-close {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  @include property('width', 56, 42);
  @include property('height', 56, 42);
  border-radius: 50%;
  border: 1px solid #fff;
  box-shadow: 0 3px 4px 0 rgba(31, 33, 29, 0.11);
  background-color: var(--primary-500);
  color: #fff;
  transition: all var(--bs-transition);

  @include interactive {
    background-color: var(--primary-300);
  }

  @include any-hover {
    background-color: var(--primary-400);
  }
}

.button-line {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: rem(14);
  line-height: 100%;
  letter-spacing: 0.01em;
  padding-block: rem(2);
  text-transform: uppercase;
  color: var(--text-title);
  background-color: transparent;
  transition: all var(--bs-transition);

  @include interactive {
    &::after {
      width: 80%;
    }
  }

  @include any-hover {
    &:after {
      transform: translate(0, -50%) scale(1.1);
    }

    span::after {
      width: 85%;
    }
  }

  span {
    transition: inherit;

    @include pseudo-cell(after) {
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: currentColor;
      transition: inherit;
    }
  }

  &__with-svg {
    margin-right: rem(17);

    @include pseudo-cell(after) {
      top: 50%;
      right: rem(-17);
      transform: translate(0, -50%) scale(1);
      width: rem(11);
      height: rem(13);
      background-color: currentColor;
      mask-image: url('../../images/svg/arrow-up.svg');
      mask-size: contain;
      mask-position: center center;
      mask-repeat: no-repeat;
      transition: inherit;
    }

    span {
      transition: inherit;

      @include pseudo-cell(before) {
        top: 0;
        left: 0;
        width: calc(100% + rem(17));
        height: 100%;
        transition: inherit;
      }
    }
  }
}

.border-bg {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;

  &__input {
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 3;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background-color: rgba(255, 248, 240, 1);
    border-radius: rem(18);
    padding: rem(10) rem(44);
    font-size: rem(18);
    font-family: var(--font-second);
    line-height: 1.3;
    color: var(--primary-500);

    @include interactive {
      &::placeholder {
        opacity: 1;
      }
    }

    &::placeholder {
      color: inherit;
      user-select: none;
      opacity: 0.5;
      color: var(--text-dark);
      transition: opacity var(--bs-transition);
    }

    &:disabled {
      cursor: not-allowed;

      &::placeholder {
        color: var(--neutral-40);
      }

      + label {
        color: var(--neutral-20);
      }

      ~ button {
        pointer-events: none;
        color: var(--neutral-20);
      }
    }
  }

  &__label {
    display: flex;
    width: 100%;
    height: 100%;
    cursor: text;
    min-height: rem(75);
    color: rgba(234, 133, 41, 0.25);

    border-radius: rem(20);
    backdrop-filter: blur(18px);
    background-image: linear-gradient(
      0deg,
      currentColor 0%,
      currentColor 20px,
      transparent 20px,
      transparent calc(100% - 20px),
      currentColor calc(100% - 20px),
      currentColor 100%
    );
    transition: all var(--bs-transition);
  }
}

.card-border {
  color: rgba(234, 133, 41, 0.25);
  padding: 2px;
  border-radius: rem(20);
  box-shadow: 0 0 13px 0 rgba(180, 174, 167, 0.22);
  backdrop-filter: blur(18px);
  background-image: linear-gradient(
    0deg,
    currentColor 0%,
    currentColor 20px,
    transparent 20px,
    transparent calc(100% - 20px),
    currentColor calc(100% - 20px),
    currentColor 100%
  );

  &__wrap {
    border-radius: inherit;
    background-color: inherit;
    height: 100%;
  }
}

.line {
  width: 0;
  height: 1px;
  margin-block: rem(20);
  background-color: rgba(98, 80, 15, 0.15);
  transition: width 0.8s linear;

  @media (min-width: 768px) {
    margin-block: rem(32);
  }

  &-big {
    margin-block: rem(32);

    @media (min-width: 768px) {
      margin-block: rem(60);
    }
  }

  &.animation-line {
    width: 100%;
  }
}

.title {
  font-size: rem(20);
  line-height: 1.13;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--text-title);
  max-width: rem(1630);
  margin-left: auto;
  margin-bottom: rem(24);

  @media (min-width: 768px) {
    font-size: rem(28);
    text-align: right;
  }

  @media (min-width: 1200px) {
    font-size: rem(36);
    margin-bottom: rem(48);
  }

  @media (min-width: 1440px) {
    font-size: rem(46);
    margin-bottom: rem(60);
  }

  &__border {
    @media (min-width: 768px) {
      display: inline-block;
      text-align: center;
      border: 2px solid rgba(234, 133, 41, 0.5);
      line-height: 1;
      border-radius: 100vmax;
      padding: rem(0) rem(10);
    }
  }

  &__color {
    color: var(--primary-500);
  }

  i {
    font-style: normal;

    @media (min-width: 768px) {
      display: block;
      text-align: left;
    }
  }
}

.list-title {
  counter-increment: main-blocks;
  font-size: rem(16);
  line-height: prc(17.28, 16);
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-family: var(--font-second);
  width: 100%;

  @media (min-width: 768px) {
    max-width: rem(140);
  }

  @include pseudo-cell(before, initial) {
    content: counter(main-blocks, decimal-leading-zero);
    font-size: rem(12);
    line-height: prc(12.96, 12);
  }
}

.orange {
  color: var(--primary-500);
}
