@media (any-hover: hover) {
  * {
    &::-webkit-scrollbar {
      width: rem(10);
    }

    &::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0.3);
      border-radius: rem(11);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--primary-200);
      border-radius: rem(11);
    }
  }
}
